.Uploadedpending{
    width: 100%;
    height: 52px;
    box-shadow: 1px 0px 3px 1px rgba(173, 169, 169, 0.41);
    background-color: white;
    

}
.changebuttons{
    width: 18%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 1%;

}
.uploadingbutton1{
    cursor: pointer;
    height: 40px;
    width: 49%;
    text-align: center;
    padding-top: 3%;
    font-size: 15px;
    border:2px solid rgb(22, 148, 22);
    border-top:none ;
    border-left: none;
    border-right: none;
    color: green;
    margin-right: 1%;
}
.pendingbutton1{
    margin-left: 1%;
    height: 40px;
    width: 49%;
    text-align: center;
    padding-top: 3%;
    font-size: 15px;
    cursor: pointer;

}
.uploadingbutton2{
    height: 40px;
    width: 49%;
    text-align: center;
    padding-top: 3%;
    font-size: 15px;
    margin-right: 1%;
    cursor: pointer;

}
.pendingbutton2{
    height: 40px;
    width: 49%;
    text-align: center;
    padding-top: 3%;
    font-size: 15px;
    border:2px solid rgb(22, 148, 22);
    border-top:none ;
    border-left: none;
    border-right: none;
    color: green;
    margin-right: 1%;
    cursor: pointer;

}


