.hearderrightside {
  padding-left: 70%;
}

.headerdisplay {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 265px;
}

.profileimage {

  width: 20%;
  height: 50px;
  border-radius: 50%;
  padding-left: 4%;

}

.Belldesign {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 34px ! important;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  padding-right: 5% ! important;
}

.headerbutton {
  color: white;
}

.headerline {
  width: 1px;
  color: gray;
}

.popupfirstrow {
  height: 160px;
  text-align: center;
  padding-top: 9%;
}

.popupfirstrow div {
  padding-bottom: 1%;
}

.popupimage {
  text-align: center;
  width: 30%;
  height: 75px;
  padding-top: 5%;
  border-radius: 50%;

}

.labname {
  font-weight: 550;
  font-size: 15px;
  text-align: center;
  color: black;
}

.popupmail {
  color: rgb(138, 133, 133);
  text-align: center;
  font-size: 15px;
}

.popuplogout {

  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.popupbutton {

  /* width: 6%; */
  background-color: white;
  border-color: white;

}

.popupprofile a  {
  font-size: 13px;
  color: rgb(65, 61, 61);

}
.popupprofile a:hover {
  font-size: 13px;
  color: rgb(65, 61, 61);
}

.popupprivacy {
  margin-top: 5%;
  height: 30px;
  font-size: 17px;
  text-align: center;
  color: rgb(151, 144, 144);
}

.headerdateform {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.Logoimage {
  width: 43%;
  height: auto;
  /* position: fixed; */

}

.iconsize {
  font-size: 2rem;
}

.iconView svg {
  font-size: 30px;
}

.ant-select-open{
  z-index: 14444;
}